<!DOCTYPE html>
<html  ng-app="scotchTodo">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../css/member.css">
<link rel="stylesheet" type="text/css" href="../css/register.css">
<script src="../js/jquery.min.js"></script><!-- load jquery -->
<script src="../js/angular.min.js"></script>
<script>
/*
var myApp = angular.module("myApp", []);
myApp.controller("RegisterCtrl", function ($scope) {
 $http.post('/register')
        .success(function(data) {
            $scope.todos = data;
            console.log(data);
        })
        .error(function(data) {
            console.log('Error: ' + data);
        });

});
*/
var scotchTodo = angular.module('scotchTodo', []);

//function mainController($scope, $http) {
scotchTodo.controller("mainController", function ($scope, $http) {
    $scope.formData = {};
    console.log('test');
    // when submitting the add form, send the text to the node API
    /*
    $scope.test = function() {
        $http.post('http://localhost:8082/register', $scope.formData)
            .success(function(data) {
                $scope.formData = {}; // clear the form so our user is ready to enter another
                $scope.todos = data;
                console.log(data);
            })
            .error(function(error, status) {
                console.log('Error: ' + error);
            });
    }*/
    $scope.test = function() {
        $http({
            method : "GET",
            url : "http://localhost:8082/login"
        }).then(function mySucces(response) {
            //$scope.myWelcome = response.data;
            console.log(response);
        }, function myError(response) {
            //$scope.myWelcome = response.statusText;
            console.log(response);
        });
    }
    
    $scope.test();


});

</script>
<body ng-controller="mainController">
 <div class="container">
   <div id="signup">
      <div class="signup-screen">
         <div class="space-bot text-center">
            <h1>Sign up</h1>
           <div class="divider"></div>
         </div>
           <form class="form-register" method="post" name="register" novalidate>
	            <div class="input-field col s6">
              <input id="user-name" type="text" class="validate" required>
              <label for="user-name">User Name</label>
            </div>
    
             <div class="input-field col s6">
               <input id="password" type="password" name="password" ng-model="password" ng-minlength='6' class="validate" required>
               <label for="password">Password</label>
              </div>
              <p class="alert alert-danger" ng-show="form-register.password.$error.minlength || form.password.$invalid">Your password must be at least 6 characters.</p>
              <div class="space-top text-center">
               <button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done" ng-click="test()">
               <i class="material-icons left">done</i> Done
               </button>
               <button type="button" class="waves-effect waves-light btn cancel">
               <i class="material-icons left">clear</i>Cancel
               </button>
              </div>
             </form>
           </div>
        </div>
    </div>
</body>
</html>